AWS_REGION=eu-west-2
ASSETS_BUCKET=
METADATA_BUCKET=
JOBS_QUEUE_URL=
SECRETS_ARN=
CORS_ALLOWED_ORIGINS=https://www.shwsh.co.uk,https://s3.eu-west-2.amazonaws.com
MAX_UPLOAD_BYTES=2147483648
MAX_PROMPT_CHARS=2000
LOG_LEVEL=INFO
