CDK_DEFAULT_ACCOUNT=
CDK_DEFAULT_REGION=eu-west-2
APP_NAME=aivfx
ALLOWED_WEB_ORIGINS=https://www.shwsh.co.uk,https://s3.eu-west-2.amazonaws.com
FFMPEG_LAYER_ARN=
REQUESTS_LAYER_ARN=
LUMALABS_LAYER_ARN=
OIDC_DEPLOY_ROLE_ARN=
