CDK_DEFAULT_ACCOUNT=
CDK_DEFAULT_REGION=eu-west-2
APP_NAME=aivfx
ALLOWED_WEB_ORIGINS=https://aivfx.shwsh.co.uk,https://www.shwsh.co.uk,https://shwsh.co.uk,https://s3.eu-west-2.amazonaws.com
MANAGE_APP_CLOUDFRONT=false
APP_CLOUDFRONT_ALIASES=
APP_CLOUDFRONT_CERT_ARN=
WEB_PUBLIC_BASE_URL=
COGNITO_REDIRECT_SIGN_IN_URLS=https://aivfx.shwsh.co.uk/,https://aivfx.shwsh.co.uk/api-test.html,https://www.shwsh.co.uk/experiments/aivfx/,https://www.shwsh.co.uk/experiments/aivfx/api-test.html,https://shwsh.co.uk/experiments/aivfx/,https://shwsh.co.uk/experiments/aivfx/api-test.html,http://localhost:5173/,http://localhost:5173/api-test.html
COGNITO_REDIRECT_SIGN_OUT_URLS=https://aivfx.shwsh.co.uk/,https://aivfx.shwsh.co.uk/api-test.html,https://www.shwsh.co.uk/experiments/aivfx/,https://www.shwsh.co.uk/experiments/aivfx/api-test.html,https://shwsh.co.uk/experiments/aivfx/,https://shwsh.co.uk/experiments/aivfx/api-test.html,http://localhost:5173/,http://localhost:5173/api-test.html
FFMPEG_LAYER_ARN=
REQUESTS_LAYER_ARN=
LUMALABS_LAYER_ARN=
OIDC_DEPLOY_ROLE_ARN=
