@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #18120f;
  background-color: #f5f2ea;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Manrope, "Segoe UI", sans-serif;
}

button {
  cursor: pointer;
}
